{% extends 'base.html' %}

{% block content %}
    <h1> User: {{ user.username }} </h1>

    <button class='button' id='spec'>Hide</button>
    <div id='spec_text'>
        <p title='lol' id='sps'>
            Lorem ipsum dolor sit amet, mea iudico tamquam incorrupte ei, mei prima disputationi delicatissimi no, mea sint latine antiopam te. Fuisset convenire moderatius pro ad, nec at ludus offendit. An his vidisse epicurei mandamus, sit inani noster ne. An duo ipsum quaestio abhorreant, eu dolorem constituam neglegentur eum. Inermis invenire an mea, at postea philosophia sea. Eos te consul diceret blandit.
        </p>
    </div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}


